@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

/* section-one */
.section-one {
    margin-top: 80px;
    margin-bottom: 50px;
    /* position: relative; */
}
/* .section-one::before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.section-one .inner-content {
    padding-right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.section-one .inner-content .inner-title {
    color: #124265;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
}
.section-one .inner-content .inner-desc {
    color: #5e5e5e;
    font-size: 24px;
    margin-top: 20px;
}

.section-one .inner-button button{
    background: #2487ce;
    color: white;
    padding: 10px 30px;
}
.section-one .inner-button button:hover {
    background: #2d9ae8;
}
.section-one .inner-box {
    margin-top: 150px;
    margin-bottom: 100px;
}
.section-one .inner-box .inner-item {
    background: #fff;
    /* margin-right: 10px;  */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-one .inner-box .inner-item:nth-child(4) {
    margin-right: 0;
}

.section-one .inner-box .inner-desc {
    color: #5e5e5e;
    font-size: 14px;
}


/* end section-one */

/* box head */
.box-head {
    text-align: center;
    margin-bottom: 30px;
}
.box-head .inner-title {
    font-weight: 700;
    color: #124265;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}
.box-head .inner-desc {
    font-size: 16px;
    color: #919191;
    margin-bottom: 0;
    margin-top: 10px;
}

/* ----------- */


/* Testimonials */
.Testimonials .inner-main {
    background: #f3f9fd;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}
.Testimonials .inner-main::after {
    content: "";
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #f3f9fd;
        position: absolute;
        left: calc(50% - 20px);
        top: 100%;
}
.Testimonials .inner-content {
    position: relative;
    text-align: center;
}
.Testimonials .inner-content::before {
    content: "\f10d";
    font-family: 900;
    font-family: "Font Awesome 6 Free";
    color: #c9e3f5;
    font-size: 18px;
}
.Testimonials .inner-content::after {
    content: "\f10e";
    font-family: 900;
    font-family: "Font Awesome 6 Free";
    color: #c9e3f5;
    font-size: 18px;
}
.Testimonials .inner-info {
    text-align: center;
    margin-top: 40px;
}
.Testimonials .inner-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

}
.Testimonials .inner-info .inner-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.Testimonials .inner-info .inner-position {
    color: #919191;
    margin-bottom: 0;
}
/* ------------ */